html {
	font-family: "Open Sans", sans-serif;
}

body {
	height: 120vh;
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
	padding-top: 15px;
	background-color: #395b40;
}

.account img {
	width: 50px;
	height: 50px;
}

.account p {
    color: #80837b;
    font-size: 17px;
    font-weight: 700;
}

.nav {
   margin-top: 25px;
   text-align: center;
}

.nav ul.list-inline a {
	display: inline-block;
	font-size: 22px;
	color: #cae4e1;
	text-decoration: none;
	    -moz-transition: all 0.1s 0.02s ease;
		-o-transition: all 0.1s 0.02s ease;
		-webkit-transition: all 0.1s 0.02s ease;
	padding: 5px 10px;
}

ul.list-inline a:hover {
	background-color: #cae4e1;
	color: #395b40;
} 

#schedule h1 {
	font-size: 35px;
	font-weight: 700;
	border-top: 2px solid #395b40;
	border-bottom: 2px solid #395b40;
}

table {
	margin: 20px 0px 30px 0px;
}

#schedule table tr, td, th {
	border: 3px solid #395b40;
	padding: 5px;
	text-align: center;
	color: #395b40;
	font-size: 15px;
	font-weight: bold;
}

table th {
    color: #000;
    font-size: 17px;
}

table .description {
	color: #cae4e1;
	background-color: #395b40;
	font-size: 25px;

}

#schedule .fifth {
	width: 250px;
}

footer {
	background-color: #395b40;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #cae4e1;
}

footer .fa {
	font-size: 48px;
	color: #cae4e1;
}

footer .developer {
	margin-left: -100px;
}

footer p {
	margin: 0;
	font-size: 25px;
}
